    <section class="banner {{ banner_class }}">
        <div class="banner_content">
            <div>
                <h2 class="banner_content_titleText">
                    <span>{{ title }}</span>
                </h2>
            </div>
    </section>