{% extends 'admin/index.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
{% endblock %}
    {% block content %}
        <p>
            Si un compte correspondant à votre adresse e-mail existe, alors un e-mail vient d'être envoyé. Cet e-mail contient un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de courriers indésirables (spam) ou <a href="{{ path('app_forgot_password_request') }}">rééssayer</a>.</p>
    {% endblock %}