{% extends 'admin/index.html.twig' %}

{% block title %}Administration des produits{% endblock %}

{% block body %}
{% endblock %}
{% block content %}
    <h3>Ajouter un produit</h3>
    {% include "admin/products/_form.html.twig" %}
{% endblock %}
