{% extends 'admin/index.html.twig' %}

{% block title %}Administration des produits{% endblock %}

{% block Content %}
    <h3>Supprimer un produit</h3>
    {% include "admin/products/_form.html.twig" %}
{% endblock %}