{% extends 'admin/index.html.twig' %}

{% block title %}Administration des produits{% endblock %}

{% block content %}
    <h3>Modifier un produit</h3>
    {% include "admin/products/_form.html.twig" with {'button_label' : 'Modifier'} %}
{% block javascripts %}
    <script src="{{ asset('assets/js/images.js') }}" defer></script>
{% endblock %}
{% endblock %}
