{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section class="contact">
            <h1>Erreur 404</h1>
            <p> Le page que vous recherchez n'a pas été trouvée !</p>
    </section>
{% endblock %}
